<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.davidmpaz.de/LogBook"
			class = "de.davidmpaz.logBook.LogBookPackage"
			genModel = "model/generated/LogBook.genmodel" />
	</extension>
</plugin>
